<?xml version="1.0" encoding="UTF-8"?>
<!-- scan:当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true -->
<!-- scanPeriod:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。scan=true，此属性生效。默认的时间间隔为1分钟 -->
<!-- debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 关闭 Logback 的内部日志 -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <!-- 定义LOG的路径 -->
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>

    <!-- 输出到控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 过滤日志级别 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %t %-4r %p %F[%L]: %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 动态路由 Appender -->
    <appender name="DYNAMIC_MARKER" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="org.slackerdb.dbservice.logger.MarkerNameBasedDiscriminator">
                <key>markerName</key>
        </discriminator>
        <sift>
            <appender name="FILE-${markerName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_PATH}/${markerName}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>
                        ${LOG_PATH}/${markerName}.%d{yyyy-MM-dd}.log
                    </fileNamePattern>
                    <!-- 保留最近15天 -->
                    <maxHistory>15</maxHistory>
                    <!-- 指定日志文件的上限大小,总量达到1GB删除旧日志 -->
                    <totalSizeCap>1GB</totalSizeCap>
                </rollingPolicy>
                <!-- 默认true，日志被追加到文件结尾；如果是 false，清空现存文件 -->
                <append>true</append>
                <!-- 定义字符集和输出样式 -->
                <encoder charset="UTF-8">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %t %-4r %p %F[%L]: %m%n</pattern>
                    <charset>UTF-8</charset>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- 默认输出配置 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DYNAMIC_MARKER"/>
    </root>

    <!-- 屏蔽掉一些噪音日志 -->
    <logger level="ERROR" name="org.springframework.boot.autoconfigure.logging" additivity="true"/>
    <logger level="ERROR" name="ch.qos.logback" additivity="true"/>
    <logger level="ERROR" name="com.zaxxer.hikari" additivity="true"/>
</configuration>